<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Regular Tables - Tables are the backbone of almost all web applications.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Tables are the backbone of almost all web applications.">
    <meta name="msapplication-tap-highlight" content="no">

    <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>

<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-main">
        <div class="app-sidebar sidebar-shadow">
            <div class="scrollbar-sidebar">
                <div class="app-sidebar__inner">
                    <ul class="vertical-nav-menu">
                        <li class="app-sidebar__heading">Dashboards</li>
                        <li class="mm-active">
                            <a href="dashboard">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Home
                            </a>
                        </li>
                        <li class="mm-active">
                            <a href="tuition">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Tuition
                            </a>
                        </li>
                        <li class="mm-active">
                            <a href="grade">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Grades
                            </a>
                        </li>
                        <li class="mm-active">
                            <a href="course">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Course
                            </a>
                        </li>
                        <li class="mm-active">
                            <a href="course_catalog">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Class Catalog
                            </a>
                        </li>
                        <li class="mm-active">
                            <a href="take_course">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Take Course
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--    -->
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="text-align: center;"> <h1  style="background-color:rgb(50, 90, 125); color:white" >Search Results</h1> </div>
                        <div class = "row d-flex justify-content-center">


                            <div class="col-md-10 jumbotron">
                                <h1 class="display-4">3 Courses Found</h1>
                                <p class="lead">Please view course detail from below.</p>
                                <hr class="my-4">
                                <p>If you didn't find the course, please double check your searching keyword.</p>
                                <a  class="btn btn-primary btn-lg" href="/courseDetail.html" role="button">Search Again</a>
                            </div>
                        </div>
                        <! course table>
                        <div class = "row d-flex justify-content-center">



                            <table class="col-md-10 table table-striped table-active">
                                <thead class="thead-dark">
                                >
                                <tr>
                                    <th scope="col">Course ID</th>
                                    <th scope="col">Course Name</th>
                                    <th scope="col">Term</th>
                                    <th scope="col">Unit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>CSC452</td>
                                    <td>CSC452</td>
                                    <td>WINTER</td>
                                    <td>4.0</td>
                                </tr>
                                <tr>
                                    <th scope="row">Instructor</th>
                                    <th scope="row">Schedule</th>
                                    <th scope="row">Location</th>
                                    <th scope="Section">Location</th>



                                </tr>
                                <tr>
                                    <td>Ken Yu</td>
                                    <td>Monday</td>
                                    <td>Loop Campus</td>
                                    <td>Online</td>
                                </tr>
                                </tbody>
                            </table>


                        </div>
                        <! Dropdown menu>
                        <div class = "row" >
                            <div class = "col-md-10" >
                            </div>

                            <div class=" col-md-1 dropdown show ">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    More Options
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="courseDetail.html">View Course Detail</a>
                                    <a class="dropdown-item" href="#">Add to List</a>
                                    <a class="dropdown-item" href="#">Enroll Course</a>
                                </div>
                                <hr class="my-3">

                            </div>


                        </div>
                        <! course table>
                        <div class = "row d-flex justify-content-center">



                            <table class="col-md-10 table table-striped table-active">
                                <thead class="thead-dark">
                                >
                                <tr>
                                    <th scope="col">Course ID</th>
                                    <th scope="col">Course Name</th>
                                    <th scope="col">Term</th>
                                    <th scope="col">Unit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>CSC452</td>
                                    <td>CSC452</td>
                                    <td>WINTER</td>
                                    <td>4.0</td>
                                </tr>
                                <tr>
                                    <th scope="row">Instructor</th>
                                    <th scope="row">Schedule</th>
                                    <th scope="row">Location</th>
                                    <th scope="Section">Location</th>



                                </tr>
                                <tr>
                                    <td>Ken Yu</td>
                                    <td>Monday</td>
                                    <td>Loop Campus</td>
                                    <td>Online</td>
                                </tr>
                                </tbody>
                            </table>


                        </div>
                        <div class = "row" >
                        </div>
                        <! Dropdown menu>
                        <div class = "row" >
                            <div class = "col-md-10" >
                            </div>

                            <div class=" col-md-1 dropdown show ">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    More Options
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                                    <a class="dropdown-item" href="courseDetail.html">View Course Detail</a>
                                    <a class="dropdown-item" href="#">Add to List</a>
                                    <a class="dropdown-item" href="#">Enroll Course</a>
                                </div>
                                <hr class="my-3">

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    -->
    </div>
</div>
<script type="text/javascript" src="/assets/scripts/main.js"></script>
</body>
</html>